/*mobile*/
@media all and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

	body{font:13px/1.6 arial,'\65B0\7D30\660E\9AD4';}
	.login_content {
		margin:0 auto;
		width:300px;
		height:300px;
		border:2px solid #eaeaea;
	}
	.login_conntent >h2 {
		width:200px;
		font-family:"微軟正黑體";
		padding:0 auto;
		margin:0 auto;
	}
	.login_acc {
		float:left;
		width:297px;
		height:110px;
		border-bottom:3px solid #cdcdcd;
		
	}
	.login_acc input {

	}
	.login_sel {
		margin:0 auto;
		width:300px;
		height:200px;
	}
	.login_sel > input ,.login_content img {
		float:left;
		margin:0 auto;
		padding:10px;
		width:100px;
		height:50px;
	}
}

@media screen and (min-device-width:800px) {
	body{background-color: #00F}
	.login_content {
		margin:0 auto;
		width:600px;
		height:120px;

	}
	.login_acc {
		float:left;
		width:297px;
		height:120px;
		border-right:3px solid #cdcdcd;
		
	}
	.login_sel {
		float:left;
		width:300px;
		height:120px;
	}
	.login_sel input ,.login_sel img {
		float:left;
		width:100px;
		height:50px;
		margin:5px 50px;

	}
}

